  <div class="container">
      <h4 class="card-title text-center">Cocktails List </h4>
      <div class="your-class cocktails">
        <% @cocktails.each do |cocktail| %>
          <div class="cocktail">
            <%= cocktail.name %>
            <div class="button">
              <p class="text-center"><%= link_to 'Delete', cocktail, method: :delete, data: {confirm: 'Are you sure'}, class: 'btn' %>
              <%= link_to 'Edit', edit_cocktail_path(cocktail), class: 'btn' %>
              <%= link_to 'Show', cocktail, class: 'btn' %></p>
            </div>
          </div>
        <% end  %>
      </div>
  </div>
