<div class="header">
  <div class="photo text-center">
    <h2 class="title-home">Welcome to Alles Drink Bar</h2>
    <p><%= link_to ' Create Your Cocktail ', new_cocktail_path, class: 'btn-banner' %></p>
  </div>
</div>
