.cocktail-card {
    display: flex;
    width: auto;
    flex-direction: column; 
}

.name {
    background-color: rgba($color: rgb(152, 10, 165), $alpha: 1.0);
    font-size: 2vw;
    color: white;
}

.cocktail-photo {
    display: flex;
    margin-top: 1vw;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1vw;
    color: black;
}

.card-links {
    flex-direction: row;
    background-color: rgba($color: rgb(152, 10, 165), $alpha: 1.0);
}

li {
    font-size: 1.5vw;
}