.form-actions {
    background-color: rgba($color: rgb(152, 10, 165), $alpha: 1.0);
    margin-top: 20px;
}

.form {
    margin-top: 30px;
    width: 50%;
    background-color: rgba($color: rgb(152, 10, 165), $alpha: 0.5);
    padding: 20px;
    color: white;
}