// Import your components CSS files here.
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "button";
@import "card";
@import "show";
@import "form";

.container-index {
  background-size: cover;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .8);
  display: grid;
  height: 500px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px;
  margin-top: 60px;
}

h4 {
  color: white;
  margin-top: 30px;
  font-size: 30px;
  transform: rotate(270deg);
}

.your-class {
  margin-top: 80px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .8);
  grid-column: 2;
  display: relative;
  width: 350px;
  display: flex;
  height: 400px;
}

.menu-items-index {
  margin-top: 20px;
  margin-right: 100px;
  p {
    color: white;
  }
}

.title-index {
  background-color: black;
  width: 300px;
  border-radius: 10px;
  height: 80px;
  text-align: center;
  margin-top: 200px;
  margin-left: 300px;
}

.cocktail-photo-index {
  margin-left: 30px;
}

.text-center {
  color: black;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
  font-size: 35px;
  margin-left: 0px;
  font-family: 'Anton', sans-serif;
}
