.container-show {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto;
  align-items: center;
}

.title-show {
  color: black;
  border-radius: 10px;
}

.menu-items {
  margin-top: 10px;
}

